.button-container {
    margin: 20px;
    width: 100%;

    /* Centers button in div */
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}