@font-face {
    font-family: "Bungee";
    src: url(web_fonts/bungee_regular_macroman/Bungee-Regular-webfont.woff) format("truetype");
}

.button-container {
    margin: 20px;
    width: 100%;

    /* Centers button in div */
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    float: top;
}

.icon {
    max-width: 400px;
    max-height: 400px;
    top: 50px;
    font: italic bold 5em/1 Bodoni, serif;
    color: #555;
    text-align: center;
    animation: fadeIn 2s infinite alternate;

    margin-top: 100px;
    margin-bottom: 150px;
}

html {
    height: 100%;
    background-color: #4F7A8C;
    transform: rotate(180deg);
}

.my-container, .row {
    max-width: 8000px; /* overrides bootstrap */
    padding: 0;
    margin: 0;
}

.my-container {
    height: 100%;
    background-color: #4F7A8C;
}

.terms {
    margin-bottom: 20px;
}

.accept-decline-text {
    text-align: center;
    width: 100%;
    color: #103442;
    font-family: "Bungee";
    font-size: 0.8cm;
    margin-left: 25px;
    margin-right: 20px;
}

.consent-button {
    width: 2.5cm;
    height: 2.5cm;
    border-style: solid;
    border-radius: 0.5cm;
    border-color: #6CA8C0;
    border-width: 0.25cm;

    font-family: "Bungee";
    color: #D9E8F4;
    font-size: 1.8cm;

    text-align: center;
    vertical-align: middle;
    line-height: 2cm;       /* the same as your div height */

    margin-bottom: 25px;
}


p1, h1, h2 {
    text-align: center;
    font-family: "Bungee";
    color: white;
}

h1 {
    font-size: 2.5cm;
}

h2 {
    font-size: 2cm;
}

p1 {
    font-size: 2.5cm;
    color: #103442;
    margin-top: 50px;
}

#welcome-text {
    margin-bottom: 220px;
    margin-top: 120px;
}

#page-2 {
    margin-top: 50px;
    height: 100%;
    margin-bottom: 20px;
    float: top;
}

#page-3 {
    height: 100%;
    margin-top: 200px;
    margin-bottom: 20px;
}

#page-1-button {
    background-color: #103442;
    border: none;
    border-radius: 0.2cm;
    color: #6CA8C0;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8cm;
    font-family: "Bungee";
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

    margin-bottom: 120px;
}

@keyframes fadeIn { 
  from { opacity: 0.2; } 
}


/* Scrollbar */
.scrollbar
{
    align-content: center;
	float: left;
	height: 300px;
	width: 500px;
	background: #F5F5F5;
	overflow-y: scroll;
    margin-bottom: 25px;
    background-color: #6CA8C0;
    padding: 20px;
    border-radius: 10px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 12px;
    background-color: #103442;
    border-radius: 10px;
}

#style-1::-webkit-scrollbar
{
	width: 22px;
    background-color: #103442;
    border-radius: 10px;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4F7A8C;
}